_schema-version: '3.1'
ID: smart-converter-api
version: 1.0.0
description: "A simple CAP project."
parameters:
  enable-parallel-deployments: true
build-parameters:
  before-all:
    - builder: custom
      commands:
        - npm install # --production
        - npm run build:cf
        #- npx -p @sap/cds-dk cds build --production

modules:
  - name: smart-converter-api-srv
    type: nodejs
    path: gen/srv
    parameters:
      buildpack: nodejs_buildpack
    build-parameters:
      builder: npm-ci
    provides:
      - name: srv-api # required by consumers of CAP services (e.g. approuter)
        properties:
          srv-url: ${default-url}
    requires:
      - name: smart-converter-api-db
      - name: smart-converter-api-auth
      - name: smart-converter-aicore-dest
    properties:
      API_KEY: <YOUR_API_KEY>

  - name: smart-converter-api-db-deployer
    type: hdb
    path: gen/db
    parameters:
      buildpack: nodejs_buildpack
    requires:
      - name: smart-converter-api-db

resources:
  # ----------------------- HDI SERVICE ------------------------
  - name: smart-converter-api-db
  # ------------------------------------------------------------
    type: com.sap.xs.hdi-container
    parameters:
      service: hana
      service-plan: hdi-shared
  # ----------------------- UAA SERVICE ------------------------
  - name: smart-converter-api-auth
  # ------------------------------------------------------------
    type: org.cloudfoundry.managed-service
    parameters:
      service: xsuaa
      service-plan: application
      path: ./xs-security.json
      config:
        xsappname: smart-converter-api-${org}-${space}
        tenant-mode: dedicated
  # -------------------- DESTINATION SERVICE -------------------
  - name: smart-converter-aicore-dest
  # ------------------------------------------------------------
    type: org.cloudfoundry.managed-service
    parameters:
      service: destination
      service-plan: lite
      config:
        init_data:
          instance:
            existing_destinations_policy: ignore
            destinations:
              - Name: openai-aicore-api
                Description: SAP AI Core deployed service
                URL: https://api.ai.prod.eu-central-1.aws.ml.hana.ondemand.com
                URL.headers.AI-Resource-Group: default # your resource group
                URL.headers.Content-Type: application/json
                Type: HTTP
                ProxyType: Internet
                Authentication: OAuth2ClientCredentials
                tokenServiceURL: https://sceaiml.authentication.eu10.hana.ondemand.com/oauth/token # your token service url of the SAP AI Core instance
                clientId: DUMMY_ID # enter in cockpit
                clientSecret: DUMMY_SECRET # enter in cockpit
                HTML5.DynamicDestination: true
